.m_category {
    opacity: 0;
    transition: opacity 0.5s linear;
    margin-top: 6rem;
}

.card-columns {
    column-count: 1;
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

.m_categorySubject {
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

.m_categorySubject:hover {
    cursor: pointer;
    background-color: pink;
}

.m_small {
    text-align: right;
}