* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-color: #c0deed;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif, 'Apercu Mono', Monaco, monospace, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

.btn {
    border-radius: 1.5rem;
}

.m_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
}

.m_alert {
    top: 5rem;
    text-align: center;
    width: 100%;
    z-index: 999;
    position: fixed;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#m_goTop {
    display: none;
    cursor: pointer;
    font-size: 3.23rem;
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    transition: all .2s ease-in-out;
    z-index: 999;
}
#m_goTop:hover {
    transform: scale(1.1);
}

#m_goBack {
    cursor: pointer;
    font-size: 3rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    transition: all .2s ease-in-out;
    z-index: 999;
}
#m_goBack:hover {
    transform: scale(1.1);
}

#THF:hover {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width: 16px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
    background-color: #55555500;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #55555550;
}
::-webkit-scrollbar-thumb:active {
    background-color: #55555599;
}

@keyframes not_found {
    0% {
        color: #555555;
    }
    10% {
        transform: scaleX(2.0)
    }
    40% {
        transform: scaleX(0.5);
    }
    50% {
        transform: scalex(1.5);
    }
    80% {
        transform: scalex(1);
    }
}

#m_notFound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#m_notFound h1 {
    animation-name: not_found;
    animation-duration: 2s;
    animation-direction: alternate;
}