.m_personalPage {
    opacity: 0;
    transition: opacity 0.5s linear;
    margin-top: 6rem;
}

.m_personalPage .m_postArticleTitle {
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    border-radius: 0.5rem;
    margin: 0 2.5rem;
}
.m_personalPage .m_postArticleTitle:hover {
    cursor: pointer;
    background-color: khaki;
    transform: scale(1.1);
}

.m_postArticleLikePage {
    font-size: 2.5rem;
    margin: 0 auto;
}