.m_postArticleWrapper {
    opacity: 0;
    transition: opacity 0.5s linear;
    margin-top: 6rem;
}

.m_postArticleWrapper textarea {
    resize: none;
}
.m_postArticle .w-100 {
    display: none;
}
@media(min-width: 768px) {
    .m_postArticle .w-100 {
        display: inline;
    }
}

.m_postArticle {
    background-color: lightcyan;
}
.m_postArticleTitle {
    color: slategrey;
    margin: 0 2.5rem;
}
.m_postArticlePost {
    border: 0.5rem dashed palegreen;
    border-radius: 0.5rem;
    overflow-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0.5rem 0.5rem 0.25rem 0.25rem;
}
.m_postArticleAnD {
    background-color: palegreen;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0.25rem 0.25rem;
    text-align: center;
    padding: 0.5rem 0.5rem;
    overflow-wrap: break-word;
    font-size: 1.5rem;
    min-height: 8rem;
}
.m_postArticleCover {
    display: block;
    border-radius: 1rem;
    overflow: hidden;
    margin: auto;
    padding: 1rem;
    height: fit-content;
    max-height: 65vh;
    object-fit: scale-down;
}

.m_postArticleWrapper .m_postArticleCommentWrapper {
    display: none;
    resize: none;
}
.m_newComment:hover{
    cursor: pointer;
}

#m_postCommentDate {
    color: #17a2b8;
    text-align: right;
}
#m_postCommentName {
    border-bottom: 0.2rem dotted #666666;
}
#m_postCommentContent {
    font-size: 1.5rem;
}
.m_postArticleLike {
    font-size: 2.5rem;
    margin: 0 auto;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}
.m_postArticleLike:hover {
    cursor: pointer;
    color: tomato;
    transform: scale(1.1);
}
.m_postArticleWrapper .m_newComment {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}